<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science and Ecosystem are summarized

### Objectives

* List of popular languages for Data Science
* List of commonly used libraries for Data Science
* Data Science Tools Table
* Simple Arithmetic Expressions with examples

some of the popular languages Data Scientists use are:
1. Python 
2. R
3. SQL
4. Java

some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scikit-learn
3. Matplotlib
4. pandas

|Data Science Tools|
|------------------|
|Jupiter Notebook|
|R Studio|
|MySQL|
|Apache Spark|
|Power BI|
|TensorFlow|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
time_in_minutes = 200
time_in_hours = time_in_minutes / 60
print(time_in_hours)
print(round(time_in_hours))

3.3333333333333335
3

## Author

###### Jithin Joseph